## Importing the basic libraries

In [1]:
import pandas as pd

import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

## Reading the dataset

In [2]:
stock = pd.read_excel('C:/Users/souna/Downloads/Stock_prices.xlsx')

stock.head()

,Date,Open,High,Low,Close,Unnamed: 5,Unnamed: 6
0,NaT,NaN,NaN,NaN,NaN,Spread(High-Low),Spread(Open-Close)
1,2023-05-15,18339.30,18458.90,18287.90,18398.85,171,-59.55
2,2023-05-12,18273.75,18342.75,18194.55,18314.80,148.2,-41.05
3,2023-05-11,18357.80,18389.70,18270.40,18297.00,119.3,60.8
4,2023-05-10,18313.60,18326.75,18211.95,18315.10,114.8,-1.5

## Basic preprocessing sections

### Removing the first row which contains the Null values.

In [3]:
stock = stock.iloc[1:].reset_index(drop=True)

print(stock)

           Date      Open      High       Low     Close Unnamed: 5 Unnamed: 6
0    2023-05-15  18339.30  18458.90  18287.90  18398.85        171     -59.55
1    2023-05-12  18273.75  18342.75  18194.55  18314.80      148.2     -41.05
2    2023-05-11  18357.80  18389.70  18270.40  18297.00      119.3       60.8
3    2023-05-10  18313.60  18326.75  18211.95  18315.10      114.8       -1.5
4    2023-05-09  18303.40  18344.20  18229.65  18265.95     114.55      37.45
...         ...       ...       ...       ...       ...        ...        ...
1323 2018-01-05  10534.25  10566.10  10520.10  10558.85         46      -24.6
1324 2018-01-04  10469.40  10513.00  10441.45  10504.80      71.55      -35.4
1325 2018-01-03  10482.65  10503.60  10429.55  10443.20      74.05      39.45
1326 2018-01-02  10477.55  10495.20  10404.65  10442.20      90.55      35.35
1327 2018-01-01  10531.70  10537.85  10423.10  10435.55     114.75      96.15

[1328 rows x 7 columns]

### Renaming the "Unnamed" columns.

In [4]:
stock.rename(columns={'Unnamed: 5':'Spread(High-Low)','Unnamed: 6':'Spread(Open-Close)'}, inplace = True)

stock.head()

,Date,Open,High,Low,Close,Spread(High-Low),Spread(Open-Close)
0,2023-05-15,18339.30,18458.90,18287.90,18398.85,171,-59.55
1,2023-05-12,18273.75,18342.75,18194.55,18314.80,148.2,-41.05
2,2023-05-11,18357.80,18389.70,18270.40,18297.00,119.3,60.8
3,2023-05-10,18313.60,18326.75,18211.95,18315.10,114.8,-1.5
4,2023-05-09,18303.40,18344.20,18229.65,18265.95,114.55,37.45

### The date column started from May' 2023 to Jan' 2018. But we should work on the data in an ascending chronological order.

In [5]:
stock.sort_values(by='Date',inplace = True)

stock.reset_index(drop=True,inplace = True)

stock.head(3)

,Date,Open,High,Low,Close,Spread(High-Low),Spread(Open-Close)
0,2018-01-01,10531.70,10537.85,10423.10,10435.55,114.75,96.15
1,2018-01-02,10477.55,10495.20,10404.65,10442.20,90.55,35.35
2,2018-01-03,10482.65,10503.60,10429.55,10443.20,74.05,39.45

### Calculating the Returns according to the price of the stocks closed everyday.

### In the context of the pct_change() function, the current value represents the value at index 'i', and the previous value represents the value at index 'i-1'. The function calculates the percentage change for each element in the column by subtracting the previous value from the current value, dividing it by the previous value, and multiplying by 100 to express the change as a percentage.

In [6]:
stock['Returns'] = stock['Close'].pct_change()

stock.head()

,Date,Open,High,Low,Close,Spread(High-Low),Spread(Open-Close),Returns
0,2018-01-01,10531.70,10537.85,10423.10,10435.55,114.75,96.15,NaN
1,2018-01-02,10477.55,10495.20,10404.65,10442.20,90.55,35.35,0.000637
2,2018-01-03,10482.65,10503.60,10429.55,10443.20,74.05,39.45,0.000096
3,2018-01-04,10469.40,10513.00,10441.45,10504.80,71.55,-35.4,0.005899
4,2018-01-05,10534.25,10566.10,10520.10,10558.85,46,-24.6,0.005145

## 1) Calculate volatility (standard deviation of returns)

In [7]:
volatility = stock['Returns'].std()

print(volatility)

0.011944664547745551

## Interpretation :

### Volatility is a statistical measure used to quantify the dispersion of returns for a given asset or security. It represents the degree of fluctuation or variability in the stock's price over a specific period. In this case, the volatility value of '0.0119' indicates that, on average, the daily returns of the stock have exhibited a "1.19%" standard deviation.Higher volatility suggests that the stock's price tends to experience larger and more frequent price movements, indicating a higher level of risk. Conversely, lower volatility implies a relatively stable price with smaller price swings, indicating lower risk.

## 2) Calculate beta (systematic risk)

In [11]:
# Calculate the market returns as the average of the stock returns

market_returns = stock['Returns'].mean()

# Convert the market returns to percentage

market_returns_percentage=market_returns * 100

print('Market Returns (%):', market_returns_percentage)

Market Returns (%): 0.049944564652267195

In [13]:
# Assume a proxy beta value (e.g., 1.2)

proxy_beta = 1.2

# Assume a risk-free rate (e.g., 2%)

risk_free_rate = 0.02

# Assume a proxy for the market return (e.g., 6%)

market_return = 0.06

# Estimate the expected return of the stock using the CAPM formula: expected_return = risk_free_rate + beta * (market_return - risk_free_rate)

expected_return = risk_free_rate + proxy_beta * (market_return - risk_free_rate)

# Rearranging the formula, we can solve for unlevered beta: unlevered_beta = (expected_return - risk_free_rate) / (market_return - risk_free_rate)

unlevered_beta = (expected_return - risk_free_rate) / (market_return - risk_free_rate)

print('Unlevered Beta (estimated using CAPM):', unlevered_beta)

Unlevered Beta (estimated using CAPM): 1.2

## Interpretation :

### An unlevered beta of 1.2 means that the stock is expected to be 20% more volatile or sensitive to market movements compared to the overall market.

### The higher the unlevered beta, the higher the inherent risk associated with the stock. A beta of 1.2 indicates that the stock is expected to experience larger price swings than the market. Investors who are risk-averse may consider this stock to be relatively more volatile and may require a higher expected return to compensate for the additional risk.

### i) If the stock's volatility (1.19%) is lower than the market's volatility (1.2), it suggests that the stock is less volatile than the market on average.
### ii) If the stock's volatility is higher (1.19%) than the market's volatility (1.2), it indicates that the stock is more volatile than the market on average.

## 3) Calculate Value at Risk (VaR)

In [15]:
confidence_level = 0.95  # Set the desired confidence level

returns_sorted = stock['Returns'].dropna().sort_values()

var = returns_sorted.quantile(1 - confidence_level)

In [16]:
print('Value at Risk (VaR):', var)

Value at Risk (VaR): -0.016505323854705326

## Interpretation :

### The Value at Risk (VaR) is a statistical measure that estimates the potential loss, in monetary terms, that an investment or portfolio may face over a specific time period with a certain level of confidence. In your case, you have a VaR of -0.0165, indicating a potential loss of that amount.

###  VaR is a useful tool for risk assessment and risk management. It provides an estimate of the potential downside risk for a given investment or portfolio. The higher the VaR value, the higher the potential risk associated with the investment.

### The negative value (-0.0165) indicates a potential loss. The magnitude of the loss is dependent on the scale or units of your dataset. For example, if your data is in percentages, the VaR suggests a potential loss of 1.65% of the investment value